body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
  background: linear-gradient(to right, rgba(50, 30, 82, 0.651) 0%, rgba(131, 139, 185, 0.897)100%);  
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 25px;
  box-shadow: 0 5px 6px #9E9E9E;
  background-color: #9E9E9E;
  
}

.icona {
  height: 300px;
  width: 300px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.imgSection {
  position: relative;
}

.songTitle {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: white
}
 h1 {
   padding: none;
   font-size: 1em
 }

.buttonsPanel {
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 1em;
  border-radius: 50%
}