body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: url("./images/bckground.png") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 25px;
  background-color:rgb(238, 239, 245);
}

.icona {
  height: 300px;
  width: 300px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.imgSection {
  position: relative;
  
}

.controlPanel {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.songTitle {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: white
}
 h3 {
   padding: none;
   margin: 0.5em;
   letter-spacing: 0;
   /* font: 1em bold; */
 }

 p {
   margin: 0;
 }

.buttonsPanel {
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 1em;
  border-radius: 50%
}