body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  text-align: center;
  background: url("./images/bckground.png") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  border-radius: 25px;
  background-color:rgb(238, 239, 245);
  min-width: 300px;
  height: 410px
}

.icona {
  height: 300px;
  width: 300px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.imgSection {
  position: relative;
  
}

.topPanel {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-around;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.menu {
  position: absolute;
  top: 1em;
  right: 1em;
  color: rgb(132, 136, 159);
  cursor: pointer;
}

.controlIcons {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  padding-top: 1em;
  padding-bottom: 1em;
  color: white
}


.nowPlaying {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding-top: 1em;
  padding-bottom: 1em
}
 
 p {
   margin: 0;
   padding-bottom: 0.3em 
 }

.artist {
   font-weight: bold;
 }

.title {
   font-size: 0.8em
 }

 .volume {
   position: absolute;
   z-index: 1;
   top: 18.6em;
   min-width: 100%;
 }

 .volumeProgress {
   min-height: 5px;
   display: inline-block;
 }

 .volumeOne {
   width: 70%;
   height: 0.5em;
   background-color:rgb(255,255,255);
   color:transparent;
   float: left;
 }

 .volumeTwo {
   width: 30%;
   height: 0.5em;
   background-color: rgb(255,0,0);
   color:transparent;
   float: right
 }

 .clearFloat {
  clear: both;
 }

.buttonsPanel {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  justify-content: space-around;
  align-items: baseline
}

.volumeBtn {
  position: absolute;
  bottom: 7em;
  left: 15em;
  z-index: 1;
  background-color: rgb(255,255,255);
  color: rgb(96, 85, 143);
  border: none;
  padding: 0.4em;
  border-radius: 50%;
}

.btn {
  border-radius: 50%;
}

.btn:nth-child(odd) {
  border: none
}

.smallBtn {
  background-color: rgb(255,255,255);
  color: rgb(96, 85, 143);
  border: none;
  height: 2.5em;
  width: 2.5em;
}

.heart {
  color: rgb(255,0,0)
}

.bigBtn {
  background-color: rgb(96, 85, 143);
  color: rgb(255,255,255);
  height: 2em;
  width: 2em;
}

.playButton {
  height: 3em;
  width: 3em;
  cursor: pointer;
}

.playlist {
  padding-top: 1.4em;
  color: rgb(96, 85, 143);
  font-weight: bold;
}

.returnButton {
  position: absolute;
  top: 1.4em;
  left: 2em;
  cursor: pointer;
}

.list {
  list-style-type: none;
  float: left;
  text-align: left;
  width: 80%;
  margin-left: -1.5em;
  color: rgb(96, 85, 143);
}

li {
  padding-bottom: 1em
}

.listItem {
  border-bottom: solid 0.2em rgb(211, 213, 222);
  
}

.songList {
  padding-top: 2em;
}

.songDuration {
  font-size: 0.8em;
}

.songTitle {
  font-weight: bold;
}